@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.body{
    /* background-color: black; */
    color: black;
}
.reel-container{
    width: 500px;
    margin: 5px auto;
    /* padding: 10px; */
    /* border: 2px solid white; */
}

.profile {
    /* background-color: rgb(247, 246, 246); */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px; */
    
   
}

.container {
    /* background-color: rgb(235, 34, 34); */
    width: 260px;
    align-items: center;
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
}

.dots {
    width: 30px;
    /* background-color: yellow; */
}

.prfl-img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover;
}

}
.desk {
    margin-top: -25px;
    margin-right: 25px;
}

.bi-three-dots-vertical {
    font-size: 30px;
    /* border-bottom: -10px; */
}

.video {
    width: 560px;
    height: 600px;
    margin-left: 500px;
    border: 2px solid black;
}
.flex-container{
    width: 560px;
    /* background-color: blue; */
    margin-left: 500px;
    display: flex;
    justify-content: space-between;
}
.icons-3{
    /* background-color: white; */
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.io{
    font-size: 30px;
}